name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' # Flet 打包推荐版本

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.x' # 适配 Flet 的 Flutter 版本

      - name: Build APK
        run: |
          # 安装 flet 命令行工具
          pip install flet
          # 开始打包
          # --project: 项目名
          # --description: 描述
          # --org: 包名组织(随便填)
          # --company: 公司名(随便填)
          # --product: 产品名
          flet build apk --project "MyOmnis" --description "PetLogApp" --org "com.tuntun" --company "TuntunInc" --product "My Omnis" -v

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyOmnis-APK
          path: build/apk/app-release.apk
